@import 'styles/Game.scss';
@import 'styles/Main.scss';
@import 'styles/Nav.scss';
@import 'styles/Help.scss';


.App {
  box-sizing: border-box;
  text-align: center;
  width: 80vw;
  max-width:400px;
  height:100vh;
  margin: auto;
}



